#desktop {
    .cls-1 {
        fill: none;
    }

    .cls-2 {
        fill: #2f2f2c;
    }

    .cls-3 {
        fill: #070707;
    }

    .cls-4 {
        fill: #b0ac9b;
    }

    .cls-5 {
        fill: #fdf7e4;
    }

    .cls-6 {
        fill: #3d29fd;
    }

    .cls-7 {
        fill: #050505;
    }

    .cls-8 {
        fill: #f7e24d;
    }

    .cls-9 {
        fill: #d1dbeb;
    }

    .cls-10 {
        fill: #0b0a08;
    }

    .cls-11 {
        fill: #060604;
    }

    .cls-12 {
        fill: #f9e44d;
    }

    .cls-13 {
        fill: #f7f3e8;
    }

    .cls-14 {
        fill: #d0daea;
    }

    .cls-15 {
        fill: #545454;
    }

    .cls-16 {
        fill: #060605;
    }

    .cls-17 {
        fill: #d0eefc;
    }

    .cls-18 {
        fill: #090806;
    }

    .cls-19 {
        fill: #d7cfb5;
    }

    .cls-20 {
        fill: #030303;
    }

    .cls-21 {
        fill: #faf4e2;
    }

    .cls-22 {
        fill: #b2ae9d;
    }

    .cls-23 {
        fill: #fc5229;
    }

    .cls-24 {
        fill: #fcf6e3;
    }

    .cls-25 {
        fill: #080806;
    }

    .cls-26 {
        fill: #f7e14d;
    }

    .cls-27 {
        fill: #3d28fd;
    }

    .cls-28 {
        fill: #f9522c;
    }

    .cls-29 {
        fill: #060706;
    }

    .cls-30 {
        fill: #d1effc;
    }

    .cls-31 {
        fill: #38984b;
    }

    .cls-32 {
        fill: #fb522a;
    }

    .cls-33 {
        fill: #b1ad9c;
    }

    .cls-34 {
        fill: #c0b69c;
    }

    .cls-35 {
        fill: #9b9fa1;
    }

    .cls-36 {
        fill: #efda4b;
    }

    .cls-37 {
        fill: #fc522a;
    }

    .cls-38 {
        fill: #3e29fc;
    }

    .cls-39 {
        fill: #0a0a07;
    }

    .cls-40 {
        fill: #cfecfa;
    }

    .cls-41 {
        fill: #2f2f2d;
    }

    .cls-42 {
        fill: #060606;
    }

    .cls-43 {
        fill: #37974b;
    }

    .cls-44 {
        fill: #464646;
    }

    .cls-45 {
        fill: #070605;
    }

    .cls-46 {
        fill: #efda4a;
    }

    .cls-47 {
        fill: #f8e34d;
    }

    .cls-48 {
        fill: #040403;
    }

    .cls-49 {
        fill: #f9f9f9;
    }

    .cls-50 {
        fill: #d1eefc;
    }

    .cls-51 {
        fill: #d2f0fe;
    }

    .cls-52 {
        fill: #040404;
    }

    .cls-53 {
        fill: #f6e14e;
    }

    .cls-54 {
        fill: #f6e14c;
    }

    .cls-55 {
        fill: #fafafa;
    }

    .cls-56 {
        fill: #080808;
    }

    .cls-57 {
        fill: #d8d0b6;
    }

    .cls-58 {
        fill: #f3de4b;
    }

    .cls-59 {
        fill: #faf5e8;
    }

    .cls-60 {
        fill: #faf4e1;
    }

    .cls-61 {
        fill: #fdf9e7;
    }

    .cls-62 {
        fill: #f1dc4b;
    }

    .cls-63 {
        fill: #d7cfb6;
    }

    .cls-64 {
        fill: #3e28fa;
    }

    .cls-65 {
        fill: #0a0907;
    }

    .cls-66 {
        fill: #b5bdcc;
    }

    .cls-67 {
        fill: #f3de4c;
    }

    .cls-68 {
        fill: #fbfbfb;
    }

    .cls-69 {
        fill: #fcfcfc;
    }

    .cls-70 {
        fill: #fef8e5;
    }

    .cls-71 {
        fill: #f7f1df;
    }

    .cls-72 {
        fill: #090907;
    }

    .cls-73 {
        fill: #d0edfb;
    }

    .cls-74 {
        fill: #d1effd;
    }

    .cls-75 {
        fill: #050605;
    }

    .cls-76 {
        fill: #070705;
    }

    .cls-77 {
        fill: #f6e04c;
    }

    .cls-78 {
        fill: #0b0b08;
    }

    .cls-79 {
        fill: #0a0a08;
    }

    .cls-80 {
        fill: #f5e04d;
    }

    .cls-81 {
        clip-path: url(#clippath);
    }

    .cls-82 {
        fill: #4029fa;
    }

    .cls-83 {
        fill: #d6cfb5;
    }

    .cls-84 {
        fill: #30302d;
    }

    .cls-85 {
        fill: #faf5e2;
    }

    .cls-86 {
        fill: #f5e04c;
    }

    .cls-87 {
        fill: #37984b;
    }

    .cls-88 {
        fill: #fdfdfd;
    }

    .cls-89 {
        fill: #1f9682;
    } 
}