#desktop {
    .cls-1 {
        fill: #070707;
    }

    .cls-2 {
        fill: #fdf7e4;
    }

   
    .cls-4, .cls-5, .cls-6 {
        fill: #38984b;
    }

    .cls-4, .cls-5, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12 {
        stroke-miterlimit: 10;
    }

    .cls-4, .cls-5, .cls-13, .cls-14, .cls-15, .cls-16, .cls-10, .cls-11, .cls-12 {
        stroke: #000;
    }

    .cls-4, .cls-13, .cls-16, .cls-12 {
        stroke-width: 5px;
    }

    .cls-17 {
        fill: #1f7766;
    }

    .cls-18 {
        fill: #050505;
    }

    .cls-19 {
        fill: #f7e24d;
    }

    .cls-5, .cls-14, .cls-15, .cls-10, .cls-11 {
        stroke-width: 4px;
    }

    .cls-20, .cls-11, .cls-12 {
        fill: #d1dbeb;
    }

    .cls-21 {
        fill: #0b0a08;
    }

    .cls-22 {
        fill: #060604;
    }

    .cls-23 {
        fill: #f9e44d;
    }

    .cls-24 {
        fill: #d0daea;
    }

    .cls-25 {
        fill: #060605;
    }

    .cls-26 {
        fill: #d0eefc;
    }

    .cls-27 {
        fill: #090806;
    }

    .cls-28 {
        fill: #d7cfb5;
    }

    .cls-29 {
        fill: #030303;
    }

    .cls-30 {
        fill: #faf4e2;
    }

    .cls-31 {
        fill: #b2ae9d;
    }

    .cls-32 {
        fill: #ededd6;
    }

    .cls-33 {
        fill: #fc5229;
    }

    .cls-34 {
        fill: #fcf6e3;
    }

    .cls-35 {
        fill: #080806;
    }

    .cls-36 {
        fill: #f7e14d;
    }

    .cls-37 {
        fill: #c8dfe8;
    }


    .cls-39 {
        fill: #f9522c;
    }

    .cls-40 {
        fill: #9facbc;
    }

    .cls-41 {
        fill: #060706;
    }

    .cls-42 {
        fill: #d1effc;
    }

    .cls-43 {
        fill: #fb522a;
    }

    .cls-44 {
        fill: #c0b69c;
    }

    .cls-45 {
        fill: #efda4b;
    }

    .cls-46 {
        fill: #fc522a;
    }

    .cls-47 {
        fill: #000000;
    }

    .cls-48 {
        fill: #0a0a07;
    }

    .cls-49 {
        fill: #cfecfa;
    }

    .cls-7 {
        fill: #fff;
        stroke: #aebdd3;
        stroke-width: .5px;
    }

    .cls-50 {
        fill: #060606;
    }

    .cls-8 {
        stroke-width: .25px;
    }

    .cls-8, .cls-9 {
        stroke: #040404;
    }

    .cls-8, .cls-51 {
        fill: #040404;
    }

    .cls-52 {
        fill: #37974b;
    }

    .cls-9 {
        stroke-width: 9px;
    }

    .cls-9, .cls-13, .cls-14, .cls-10 {
        fill: none;
    }

    .cls-53 {
        fill: #464646;
    }

    .cls-54 {
        fill: #070605;
    }

    .cls-55 {
        fill: #efda4a;
    }

    .cls-13, .cls-14 {
        stroke-linejoin: bevel;
    }

    .cls-56 {
        fill: #f8e34d;
    }

    .cls-57 {
        fill: #040403;
    }

    .cls-58 {
        fill: #f9f9f9;
    }

    .cls-59 {
        fill: #d1eefc;
    }

    .cls-60 {
        fill: #d2f0fe;
    }

    .cls-61 {
        fill: #f6e14e;
    }

    .cls-62 {
        fill: #f6e14c;
    }

    .cls-63 {
        fill: #fafafa;
    }

    .cls-64 {
        fill: #080808;
    }

    .cls-65, .cls-15, .cls-16 {
        fill: #d8d0b6;
    }

    .cls-66 {
        fill: #f3de4b;
    }

    .cls-67 {
        fill: #f1dc4b;
    }

    .cls-68 {
        font-variation-settings: 'wght' 552, 'ital' 0;
        font-weight: 500;
        text-transform: uppercase;
    }

    .cls-69 {
        fill: #d7cfb6;
    }

    .cls-70 {
        fill: #3e28fa;
    }

    .cls-71 {
        fill: #0a0907;
    }

    .cls-72 {
        letter-spacing: -.07em;
    }

    .cls-73 {
        fill: #f3de4c;
    }

    .cls-74 {
        fill: #fbfbfb;
    }

    .cls-75 {
        letter-spacing: -.02em;
    }

    .cls-76 {
        letter-spacing: -.02em;
    }

    .cls-77 {
        letter-spacing: -.02em;
    }

    .cls-78 {
        letter-spacing: -.02em;
    }

    .cls-79 {
        letter-spacing: -.02em;
    }

    .cls-80 {
        letter-spacing: -.02em;
    }

    .cls-81 {
        letter-spacing: -.02em;
    }

    .cls-82 {
        letter-spacing: -.02em;
    }

    .cls-83 {
        letter-spacing: -.02em;
    }

    .cls-84 {
        letter-spacing: -.01em;
    }

    .cls-85 {
        letter-spacing: -.02em;
    }

    .cls-86 {
        fill: #fef8e5;
    }

    .cls-87 {
        letter-spacing: -.02em;
    }

    .cls-88 {
        letter-spacing: -.01em;
    }

    .cls-89 {
        letter-spacing: -.02em;
    }

    .cls-90 {
        letter-spacing: -.02em;
    }

    .cls-91 {
        fill: #090907;
    }

    .cls-92 {
        letter-spacing: -.05em;
    }

    .cls-93 {
        letter-spacing: -.03em;
    }

    .cls-94 {
        letter-spacing: -.03em;
    }

    .cls-95 {
        letter-spacing: 0em;
    }

    .cls-96 {
        fill: #d0edfb;
    }

    .cls-97 {
        fill: #d1effd;
    }

    .cls-98 {
        letter-spacing: 0em;
    }

    .cls-99 {
        letter-spacing: -.01em;
    }

    .cls-100 {
        fill: #050605;
    }

    .cls-101 {
        fill: #070705;
    }

    .cls-102 {
        fill: #f6e04c;
    }

    .cls-103 {
        letter-spacing: 0em;
    }

    .cls-104 {
        fill: #0b0b08;
    }

    .cls-15, .cls-16 {
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .cls-105 {
        fill: #0a0a08;
    }

    .cls-106 {
        fill: #f5e04d;
    }

    .cls-107 {
        fill: #4029fa;
    }

    .cls-108 {
        fill: #0e5648;
    }

    .cls-109 {
        fill: #faf5e2;
    }

    .cls-110 {
        fill: #f5e04c;
    }

    .cls-111 {
        fill: #1f9682;
    }
}