@import url('normalize.css');
@import url('variables.css');
@import url('colors-desktop.css');
@import url('colors-mobile.css');

@keyframes colorChange {
    0% { fill: #000; }
    50% { fill: #3D29FD; }
    100% { fill: #000; }
}

.cinerama-outer > * {
    animation: colorChange 5s infinite;
    animation-timing-function: step-start;
}

.cta-link {
    background: white;
    border: 3px solid black;
}

.links {
    background: white;
}

.header_description-line {
    font-size: 2rem !important;
}

.cinema-graphic-desktop {
    min-width: 115rem !important;
}

#desktop {
    display: flex;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    #mobile {
        display: block;
    }

    .links {
        display: block;
        position: absolute;
        width: 80vw;
        top: 45vh;
        left: 10vw;
    }

    .cta-link {
        display: block;
        font-size: clamp(1rem, 6vw, 4rem);
    }
}

@media screen and (min-width: 1200px) {
    

   
}

